/* Regular variable font */
@font-face {
  font-family: "Geist";
  src: url("/public/fonts/Geist/Geist-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* range supported by the variable font */
  font-style: normal;
  font-display: swap;
}

/* Regular variable font */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/public/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 200 800; /* range supported by the variable font */
  font-style: normal;
  font-display: swap;
}

/* Italic variable font */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/public/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 200 800;
  font-style: italic;
  font-display: swap;
}
